$expansion-panel-header-min-height: 30px !default;
$expansion-panel-active-header-min-height: 30px !default;
$expansion-panel-header-padding: 5px 5px !default;
$expansion-panel-content-padding: 5px 5px !default;
@import '~vuetify/src/components/VExpansionPanel/_variables.scss';